In [1]:
import pandas as pd

The file contains the data on the average salary and population in Russia as of January 1, 2019 (according to the Russian Federal State Statistics Service). Imagine that someone has forgotten to mention **Orel, Nizhny Novgorod Region, Novosibirsk Region**. These regions should not be included in the summary. Please delete the data on these regions from the file and work with a new sample saved in the CSV format.

In [2]:
the_file = "https://courses.openedu.ru/assets/courseware/v1/35a4d891b912854b8ecae2dcf9a16068/asset-v1:ITMOUniversity+INTROMLAAISBENG+spring_2023_ITMO_mag+type@asset+block/salary_and_population.csv"

df = pd.read_csv(the_file)
df.describe

<bound method NDFrame.describe of                 Region_RU                          Region_EN  AVG_Salary  \
0          Алтайский край                       Altai Region       25960
1        Амурская область                        Amur Region       43156
2   Архангельская область                 Arkhangelsk Region       47526
3    Астраханская область                   Astrakhan Region       32166
4    Белгородская область                    Belgorod Region       31163
..                    ...                                ...         ...
80   Чеченская Республика               Republic of Chechnya       26108
81   Чувашская Республика                   Chuvash Republic       27028
82           Чукотский АО                        Chukotka AO       96930
83      Ямало-Ненецкий АО  Yamalo-Nenets Autonomous district       86560
84    Ярославская область                   Yaroslavl Region       33882

    Population  Unnamed: 4
0       218866         NaN
1       793194         NaN
2      1144119         NaN
3      1014065         NaN
4      1547418         NaN
..         ...         ...
80     1456951         NaN
81     1223395         NaN
82       49663         NaN
83      541479         NaN
84     1259612         NaN

[85 rows x 5 columns]>

In [3]:
df

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
0,Алтайский край,Altai Region,25960,218866,NaN
1,Амурская область,Amur Region,43156,793194,NaN
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN
...,...,...,...,...,...
80,Чеченская Республика,Republic of Chechnya,26108,1456951,NaN
81,Чувашская Республика,Chuvash Republic,27028,1223395,NaN
82,Чукотский АО,Chukotka AO,96930,49663,NaN
83,Ямало-Ненецкий АО,Yamalo-Nenets Autonomous district,86560,541479,NaN
84,Ярославская область,Yaroslavl Region,33882,1259612,NaN

In [11]:
task_df = df.loc[
    (df.Region_EN != "Orel") &
    (df.Region_EN != "Nizhny Novgorod Region") &
    (df.Region_EN != "Novosibirsk Region")
]

task_df

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
0,Алтайский край,Altai Region,25960,218866,NaN
1,Амурская область,Amur Region,43156,793194,NaN
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN
...,...,...,...,...,...
80,Чеченская Республика,Republic of Chechnya,26108,1456951,NaN
81,Чувашская Республика,Chuvash Republic,27028,1223395,NaN
82,Чукотский АО,Chukotka AO,96930,49663,NaN
83,Ямало-Ненецкий АО,Yamalo-Nenets Autonomous district,86560,541479,NaN
84,Ярославская область,Yaroslavl Region,33882,1259612,NaN

Find the sample mean of the salary:
> Enter the solution rounded to the hundredth.

In [12]:
round(task_df.AVG_Salary.mean(), 2)

39083.51

Find the sample median $Me$ of the salary:
> Enter the solution rounded to the hundredth.

In [13]:
task_df.AVG_Salary.median()

32779.5

Find the variance estimate $S^2$ of the salary:
> Enter the solution rounded to the hundredth. In AzureML Studio use Population variance from Compute Elementary Statistics.

$S^2 = \frac{1}{n}\sum\limits_{i = 1}^n \left(X_i - \overline{X} \right)^2$

In [14]:
n = len(task_df.AVG_Salary)
n

82

In [16]:
round(1/n * sum((task_df.AVG_Salary - task_df.AVG_Salary.mean()) ** 2), 2)

275198442.23

Find the standard deviation  of the salary:
> Enter the solution rounded to the hundredth. In AzureML Studio use Population standart deviation from Compute Elementary Statistics.

$\sigma^\ast = \sqrt{\frac{1}{n}\sum\limits_{i = 1}^n \left(X_i - \overline{X} \right)^2}$

In [18]:
round(275198442.23 ** 0.5, 2)

16589.11