In [1]:
import pandas as pd
import numpy as np

from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier

# Exercise 3

In [2]:
from io import StringIO
TESTDATA = StringIO(
    """
    id,X,Y,Class
    1,52,69,0
    2,69,22,0
    3,10,43,1
    4,34,82,0
    5,72,64,0
    6,60,69,1
    7,23,49,1
    8,24,91,0
    9,15,83,1
    10,16,71,1
    """
)

df = pd.read_csv(TESTDATA, sep=",")

In [3]:
df

,id,X,Y,Class
0,1,52,69,0
1,2,69,22,0
2,3,10,43,1
3,4,34,82,0
4,5,72,64,0
5,6,60,69,1
6,7,23,49,1
7,8,24,91,0
8,9,15,83,1
9,10,16,71,1

In [4]:
OBJECT_COORDINATES = [20, 48]

In [5]:
df["Euclidean"] = np.sqrt(
    np.power(df.X - OBJECT_COORDINATES[0], 2) +
    np.power(df.Y - OBJECT_COORDINATES[1], 2)
)

df

,id,X,Y,Class,Euclidean
0,1,52,69,0,38.275318
1,2,69,22,0,55.470713
2,3,10,43,1,11.180340
3,4,34,82,0,36.769553
4,5,72,64,0,54.405882
5,6,60,69,1,45.177428
6,7,23,49,1,3.162278
7,8,24,91,0,43.185646
8,9,15,83,1,35.355339
9,10,16,71,1,23.345235

In [6]:
coordinates = df[["X", "Y"]]

Enter the distance from the new object with coordinates $(20, 48)$  to the nearest neighbor using the Euclidean metric.

In [7]:
neighbours_Euclidian = NearestNeighbors(metric="euclidean")
neighbours_Euclidian.fit(coordinates)

NearestNeighbors(metric='euclidean')

In [8]:
distancesEcl, idsEcl = neighbours_Euclidian.kneighbors([OBJECT_COORDINATES])

/opt/python/envs/default/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [11]:
print(f"Nearest neighbor using the Euclidean metric = {distancesEcl[0][0]}")

Nearest neighbor using the Euclidean metric. = 3.1622776601683795

Enter the id of the three nearest points to $(20, 48)$ for the Euclidean metric.

In [12]:
print(f"Eucledean IDs = {idsEcl[0][0] + 1, idsEcl[0][1] + 1, idsEcl[0][2] + 1}")

Eucledean IDs = (7, 3, 10)

Enter the id of the three nearest points to $(20, 48)$ given $k = 3$ for the Euclidean metric.
> Enter class 0 or 1.

In [13]:
X = coordinates
y = df[["Class"]]

neigh = KNeighborsClassifier(n_neighbors=3, metric="euclidean")
neigh.fit(X, y)

print(f"Predicted class {neigh.predict([OBJECT_COORDINATES])} using Euclidean metric")

Predicted class [1] using Euclidean metric

/opt/python/envs/default/lib/python3.8/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/python/envs/default/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/opt/python/envs/default/lib/python3.8/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

Enter the distance from the new object with coordinates $(20, 48)$ to the nearest neighbor using the Manhattan distance.

In [14]:
df["Manhattan"] = \
    np.abs(df.X - OBJECT_COORDINATES[0]) + \
    np.abs(df.Y - OBJECT_COORDINATES[1])
df

,id,X,Y,Class,Euclidean,Manhattan
0,1,52,69,0,38.275318,53
1,2,69,22,0,55.470713,75
2,3,10,43,1,11.180340,15
3,4,34,82,0,36.769553,48
4,5,72,64,0,54.405882,68
5,6,60,69,1,45.177428,61
6,7,23,49,1,3.162278,4
7,8,24,91,0,43.185646,47
8,9,15,83,1,35.355339,40
9,10,16,71,1,23.345235,27

In [16]:
neighbours_Manhattan = NearestNeighbors(metric="manhattan")
neighbours_Manhattan.fit(coordinates)

NearestNeighbors(metric='manhattan')

In [17]:
distancesMnh, idsMnh = neighbours_Manhattan.kneighbors([OBJECT_COORDINATES])

/opt/python/envs/default/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [18]:
print(f"Nearest neighbor using the Manhattan metric = {distancesMnh[0][0]}")

Nearest neighbor using the Manhattan metric = 4.0

Enter the id of the three nearest points to $(20, 48)$ for the Manhattan distance.

In [19]:
print(f"Manhattan IDs = {idsMnh[0][0] + 1, idsMnh[0][1] + 1, idsMnh[0][2] + 1}")

Manhattan IDs = (7, 3, 10)

Enter a class for the new object with coordinates $(20, 48)$ given $k = 3$ for the Manhattan distance.

In [20]:
X = coordinates
y = df[["Class"]]

neigh_Manhattan = KNeighborsClassifier(n_neighbors=3, metric="manhattan")
neigh_Manhattan.fit(X, y)
print(f"Predicted class {neigh_Manhattan.predict([OBJECT_COORDINATES])} using Euclidean metric")

Predicted class [1] using Euclidean metric

/opt/python/envs/default/lib/python3.8/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/python/envs/default/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/opt/python/envs/default/lib/python3.8/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)