In [1]:
from io import StringIO

import pandas as pd
import numpy as np

from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier

# Exercise 6 â€” Clustering

To solve this clustering problem, cluster the synthetic data into $\color{purple}{K = 3}$ clusters using the K-means method.

Below, the table data is presented in a row format (you can save it as a CSV file using any text editor, or paste it into Azure ML Studio using Enter Data Manually item):

> <picture>
>   <source media="(prefers-color-scheme: light)" srcset="https://raw.githubusercontent.com/Mqxx/GitHub-Markdown/main/blockquotes/badge/light-theme/issue.svg">
>   <img alt="Issue" src="https://raw.githubusercontent.com/Mqxx/GitHub-Markdown/main/blockquotes/badge/dark-theme/issue.svg">
> </picture><br>
>
> Exersise have to be soleved in **Azure ML** WebCam studio cause the clustruing predicting logic is different

In [3]:
TESTDATA = StringIO(
    """
    Object,X,Y,Cluster
    1,18,11,0
    2,13,16,1
    3,16,12,2
    4,19,5,0
    5,20,19,0
    6,17,1,2
    7,3,1,0
    8,15,18,1
    9,6,4,1
    10,11,4,0
    11,5,16,1
    12,19,11,0
    13,5,12,1
    14,10,11,1
    15,9,2,2
    """
)

df = pd.read_csv(TESTDATA, sep=",")

In [4]:
df.X.astype(int)
df.Y.astype(int)
df.Cluster.astype(int)

In [5]:
from sklearn.cluster import KMeans

X = df[["X", "Y"]]#.to_numpy()
y = df["Cluster"]#.to_numpy()

In [9]:
preassigned_clusters = y.to_numpy()

numpy.ndarray

In [27]:
k_means = KMeans(
    n_clusters=3, 
    random_state=0,
    n_init=1,
    init=preassigned_clusters,
)

clusters = k_means.fit_transform(X)

ValueError: ValueError: The shape of the initial centers (15, 1) does not match the number of clusters 3.

### Specify the cluster to which an object will be assigned after clustering (the task is considered complete only if all the clusters are correctly specified).

In [56]:
labels = k_means.fit_predict(X)

df['cluster_km'] = labels
df

,Object,X,Y,Cluster,cluster_km
0,1,18,11,0,1
1,2,13,16,1,1
2,3,16,12,2,1
3,4,19,5,0,1
4,5,20,19,0,1
5,6,17,1,2,2
6,7,3,1,0,2
7,8,15,18,1,1
8,9,6,4,1,2
9,10,11,4,0,2
10,11,5,16,1,0
11,12,19,11,0,1
12,13,5,12,1,0
13,14,10,11,1,0
14,15,9,2,2,2

### Based on the clustering results, determine the average distance between the centroid of cluster $0$ and the points belonging to cluster $0$.

```
numClasses = 3;
[classIndexes, clusterCentroids] = kmeans(data, numClasses);
meanDistances = zeros(numClasses, 1);
for k = 1 : numClasses
    % Get x and y of centroid.
    xc = clusterCentroids(k, 1);
    yc = clusterCentroids(k, 2);
    % Get the x and y coordinates of points within this class only.
    inClass = classIndexes == k; % Indexes of points that were assigned to this class.
    x = data(inClass, 1); % Get not ALL x, but just x within this one class.
    y = data(inClass, 2); % Get not ALL y, but just y within this one class.
    % Get distances of all points in the class to the centroid for this class.
    distances = sqrt((x - xc) .^ 2 + (y - yc) .^ 2);
    meanDistances(k) = mean(distances);
end
```

In [57]:
k_means.cluster_centers_

In [58]:
# xc = k_means.cluster_centers_[0][0]
# yc = k_means.cluster_centers_[0][1]

In [ ]:
df["distanses"] = np.sqrt(
    (df.X - k_means.cluster_centers_[df.cluster_km][0]) ** 2 +
    (df.Y - k_means.cluster_centers_[df.cluster_km][1]) ** 2
)

df["distanses"]

In [2]:
np.array([
    5.165269,
    4.907138,
    3.446738,
    7.090839,
    7.528612,
]).mean()

5.6277192